@import 'tailwindcss';

/* 1. Kita paksa tema default menjadi gelap (Navy) */
:root {
  --background: #0f172a; /* Setara dengan slate-900 di Tailwind */
  --foreground: #f8fafc; /* Setara dengan slate-50 (Putih bersih) */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 2. Hapus blok @media (prefers-color-scheme: dark) bawaan Next.js 
      karena kita ingin aplikasi SwapSkill SELALU bernuansa gelap/navy 
      apapun settingan laptop usernya. */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
